black>=19.10b0; python_version >= '3.7'
chardet>=3.0.4
coverage>=5.0.3
coveralls>=1.11.1
pre-commit>=2.1.1
pygments>=2.5.2; python_version >= '3.5'   # Pygments 2.5.0 changed Java's "{}" from Operator to Punctuation.
pytest-cov>=2.8.1
pytest>=5.3.5
wheel>=0.34.2
